body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.top-part {
    background-image: url(/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    text-align: center;
    padding: 200px 300px;
}
.top-part h1 {
    font-size: 65px;
    text-align: center;
}
.top-part p {
    margin-bottom: 50px;
}

.link-btn {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    font-size: 20px;
}