body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    margin-bottom: 100px;
}

.top-part {
    background-image: url(./images/donation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    text-align: center;
    padding: 130px 250px;
}
.top-part h1 {
    font-size: 70px;
    text-align: center;
}
.top-part p {
    margin-bottom: 50px;
}

.link-btn {
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    font-size: 20px;
}

.donate-today {
    text-align: center;
}

h1{
    font-size: 50px;
}

.flexible-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexible-content h2 {
    padding: 30px;
}

.donate-taka {
    margin: 50px 50px;
}

.taka-select {
    color:tomato;
    background-color: rgb(254, 210, 202);
    height: 60px;
    width: 70px;
    margin: 10px;
    border: 2px solid tomato;
    border-radius: 5px;
}

.taka {
    color:rgb(92, 92, 92);
    background-color: rgb(244, 244, 244);
    height: 60px;
    width: 70px;
    margin: 10px;
    border-radius: 5px;
    
}

.taka-input {
    width: 50%;
    outline: none;
    border:none;
    border-bottom: 2px solid gray;
    font-size: 20px;
    text-align: center;
    margin: 30px 0px;
}

.donation-plan {
    margin: 50px 150px;
}

.center {
    text-align: center;
}

.width-onethard {
    width: 30%;
    height: 300px;
    margin: 30px 10px;
    padding: 20px;
}

.food {
    background-color: rgb(226, 248, 255);
}

.shelter {
    background-color: rgb(255, 229, 233);
}
.education {
    background-color: rgb(255, 245, 233);
}

.email {
    display: flex;
    margin: 50px 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color:lightgoldenrodyellow;
}

.sub-btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0px 5px 5px 0px;
    background-color: tomato;
    color: white;
    font-size: 15px;
}

.sub-text {
    background-color: lightgray;
    padding: 12px 20px;
    width: 250px;
    outline: none;
    border:none;
    border-radius: 5px 0px 0px 5px;
    font-size: 15px;
    
}

.special {
    margin: 50px 150px;
}

.special img {
    width: 100%;
}

.help-btn {
    display: block;
    text-decoration: none;
    padding: 5px 25px;
    
    width: 85%;
    background-color: tomato;
    color: white;
    font-size: 15px;
}

.foot {
    padding: 30px;
    text-align:center;
    background-color: black;
    color: bisque;
}

.foot h1 {
    font-family: 'Pattaya', sans-serif;
    font-size: 35px;
    color: tomato;
}
